html,body,#app{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
// 外层包裹组件
.lzj-Main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
// 组件最外层
.lzj-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
// charts
.lzj-chart{
    width: 100%;
    height: 100%;
    overflow: hidden;
}