//重置密码的样式
.psw-container {
    height: 100%;
    width: 100%;
    position: relative; 
}
// 需要用/deep/
/deep/.el-dialog__wrapper{
    .el-dialog{
        margin:0 !important;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        min-width: 585px;
        min-height: 375px;
    }
    .el-dialog .el-dialog__body{
        flex:1;
        overflow: auto;
    }
}
.vCode{//验证码框
    display: flex;
    // align-items: center;
    justify-content: space-between;
    .el-input{
        width: 60%;
    }
    span{
        font-size: 30px;
        margin-left: 10px;
        padding: 3px 10px;
        border-radius:5px;
        font-weight: bold;
        // background-color: #c93232;
        color: #c93232;
    }
    button{
        height:36px;
        width: 36px;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: #343a40;
        i{
            color: #fff;
            transition: transform 0.6s;
        }
        &:hover{
            background-color: #c93232;
            i{
                transform:rotateZ(360deg)
            }
        }
    }
}
.dialog-footer button{
    height:40px;
    width: 80px;
    margin: 5px;
    cursor:pointer;
    border-radius: 5px;
    border:0px;
    &:hover{
        background-color: #c93232;
        color: #fff;
    } 
}
.dialog-footer .left{
    background-color: #DCDFE6;
}
.dialog-footer .right{
    background-color: #FF6666;
}
.psw-box {
    min-width: 850px;
    min-height: 450px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content:center;
    .left,.right{
        box-sizing: border-box;
        display: inline-block;
        // height: 100%;
        // border:1px solid #000;
        text-align: center;
    }
    .left{
        width: 45%;
        img{
        width: 310px;
        height: 80.5px;
        }
        .account-copyright{
            color: #343a40;
            font-family: '微软雅黑';
        }
    }
    .right{
        width: 60%;
        animation: rotate cubic-bezier(.48,.52,1,.2) forwards .3s;
        @keyframes rotate{
            0%{
                border-left: 2px solid #fff;
            }
            20%{
                border-left: 2px solid rgb(206, 128, 128)232;
            }
            50%{
                border-left: 2px solid rgb(182, 87, 87)232;
            }
            70%{
                border-left: 2px solid rgb(180, 60, 60)232;
            }
            100%{
                border-left: 2px solid #c93232;
            }
        }
        padding:0 4%;
        .title{
            margin-bottom: 10px;
            .outSide{
                width: 100%;
                position: relative;
                div{
                    color:#c93232;
                    font-size: 24px;
                    letter-spacing: 1px;
                    display: flex;
                    align-items: center;
                    line-height: 70px;
                    img{
                        width: 60px;
                    }
                    span{
                    color: #343a40;
                    font-size: 28px;
                    }
                }
                }
                .other{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    .otherRight{
                        font-size: 16px;
                        font-weight: 800;
                        margin-left: 8px;
                        border-bottom: 2px solid transparent;
                        transition: all .1s;
                        &:hover{
                            color:#c93232;
                            border-bottom: 2px solid #c93232;
                        }
                    }
                }
            }
        .box-card{//卡片的样式
            .card-left{//左
                .title{//卡片标题
                    height:40px;
                    text-align: center;
                    font-size: 36px;
                    font-weight: bold;
                    padding-bottom:5px;
                    span{
                        letter-spacing:1px;
                        transition: border .3s;
                        border-bottom: 2px solid transparent;
                        &:hover{
                            cursor: pointer;
                            border-bottom: 2px solid #c93232;
                        }
                    }  
                }
                .tips{//卡片提示
                    margin-top: 8px;
                    margin-bottom: 20px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: bold;
                    color: #6b7077;
                }
                .words{//一些话
                    margin-top: 18px;
                    margin-bottom: 20px;
                    text-align: center;
                    font-size: 18px;
                    font-weight: bold;
                    color: #c93232;
                }
            }
            .card-right{//右
                .accNumber{//账号输入框
                    margin-bottom: 20px;
                }
                .btn-check{//查询按钮的外层div
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // margin-bottom: 20px;
                    .check-btn{//查询按钮
                        width: 50%;
                        height:40px;
                        background-color: #D0475A;
                        border: 1px transparent;
                        border-radius: 5px;
                        color:#fff;
                        box-shadow: 0px 0px 0px #888888;
                        transition: all .2s linear .1s;
                        margin-right: 15px;
                        margin-bottom: 40px;
                        margin-top: 24px;
                        &:hover{//查询按钮 hover效果
                            cursor: pointer;
                            background-color: #c93232;
                            box-shadow: 0px 5px 8px #888888;
                        }
                    }
                    .login-link{
                        font-size: 16px;
                        font-weight: bold;
                        margin-left: 15px;
                        color: #888888;
                        &:hover{
                            color:#c93232;
                        }
                    }
                    
                }
                .accNumber,.btn-email,.btn-securityQuestion{//账号，邮箱验证，密保问题
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;
                    .check-btn{//查询按钮
                        width: 50%;
                        height:40px;
                        background-color: #D0475A;
                        border: 1px transparent;
                        border-radius: 5px;
                        color:#fff;
                        box-shadow: 0px 0px 0px #888888;
                        transition: all .2s linear .1s;
                        margin-right: 10px;
                        &:hover{//查询按钮 hover效果
                            cursor: pointer;
                            background-color: #c93232;
                            box-shadow: 0px 5px 8px #888888;
                        }
                    }
                    .link{
                        font-size: 18px;
                        font-weight: bold;
                        margin-left: 10px;
                        color: #888888;
                    }
                }
                .accNumber{
                    .left{
                        font-size: 18px;
                        font-weight: bold;
                        margin-left: 15px;
                        color: #888888;
                    }
                    .right{
                        font-size: 16px;
                        font-weight: bold;
                        margin-left: 5px;
                        color: #c93232;
                    }
                }
            }
        }
    }
}
  //星空背景
#particles-js {
    background: #343a40;
    height: 100vh;
    width: 100vw;
}