//系统页的样式
#home{//设置主div占满整个屏幕
    // background-color: #E9EEF3;
    height:100%;
    width: 100%;
    min-width: 1440px;
    min-height: 908px;
    color: #fff;
    position: relative;
    .home-box{//将粒子特效上面的元素全部用一个div套住，并且脱离文档流，才能让粒子特效全屏展示
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .el-container{//100%屏幕显示
        height:100%;
        .el-header{//头部
            min-width: 1200px;
            background-color: #343a40;
            background-clip: padding-box;
            border-radius:0 0 0 5px;
            display:flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            border-bottom: 2px solid transparent;
            .time{//
                margin-left: 50px;
                cursor: pointer;
                letter-spacing:1px;
                min-width: 200px;
                font-size: 18px;
                font-family: '微软雅黑';
                font-weight: 600;
            }
            .webName{
                font-size: 36px;
                font-family: '微软雅黑';
                font-weight: 700;
                letter-spacing: 8px;
            }
            div{
                display:flex;
                align-items: center;
                .el-dropdown{//个人账户下拉菜单
                    padding: 10px;
                    border:1px solid #fff;
                    border-radius: 5px;
                    cursor: pointer;
                    min-width: 170px;
                    i{
                        color: #fff;
                    }
                }
                .logo{
                    width: 70px;
                    margin:0 5px;
                    border-bottom:2px solid #c93232;
                    display: flex;
                    justify-content: center;
                    img{
                        width: 60px;
                    }
                }
            }
        }
        .el-footer{//底部
            background-color: #ccc;
            div{
                height:28px;
                line-height: 28px;
            }
            .center{
                cursor: pointer;
                text-align: center;
                color: #343a40;
                font-weight: 700;
                font-size: 12px;
            }
        }
        .el-aside {//侧边栏
            height: 100%;
            min-height: 720px;
            .title{//侧边栏标题
                box-sizing: border-box;
                height: 80px;
                background-color: #343a40;
                display: flex;
                justify-content: center;
                align-items: center;
                background-clip: padding-box;
                border-bottom: 2px solid transparent;
                border-right: 2px solid transparent;
                border-radius: 0 0 5px 0 ;
                color:#CCC;
                img{
                    width: 220px;
                }
            }
            .option{//侧边栏功能块
                height: calc(100% - 80px);
                background-color: #343a40;
                padding: 35px;
                color:rgba(204, 204, 204, 0.5);
                border-right: 2px solid transparent;
                border-radius: 0 5px 0 0;
                background-clip: padding-box;
                box-sizing: border-box;
                .asd{//功能小块
                    padding-bottom:25px;
                    span{
                        font-size: 14px;
                        font-weight:bold;
                    }
                    div{
                        box-sizing: border-box;
                        height: 40px;
                        line-height: 20px;
                        margin:2px 0;
                        padding: 8px 10px;
                        border-radius: 10px;
                        color:rgba(204, 204, 204, 0.85);
                        transition:all .2s ease-in;
                        &:hover{
                            cursor:pointer;
                            color:#fff;
                            background-color: #303133;
                        }
                        i{//图标
                            width: 30px;
                        }
                        span{
                        font-size: 16px;
                        font-weight:500;
                    }
                    }
                }
            }
        }
        .el-main {//主体展示部分
            min-width: 1200px;
            min-height: 800px;
            padding: 6px 8px;
        }
    }
    //星空背景
    #particles-js {
        background: #2a3235;
        height: 100vh;
        width: 100vw;
        min-width: 1440px;
        min-height: 908px;
    }
}