#homepage{
    height: 100%;
    width: 100%;
    .page-box{
        height: 100%;
        width: 100%;
    }
    .left,.center,.right{
        display: inline-block;
        height: 100%;
    }
    .left{
        width: 26%;
        .leftTop,.leftBottom{
            height: calc(50% - 10px);
            padding: 5px;
            .box{
                height: 100%;
                position: relative;
                background: url('../assets/img/line.png');
                background-color: rgba(101, 132, 226, 0.1);
            }
        }
    }
    .center{
        width: 48%;
        .centerC{
            height: calc(100% - 10px);
            padding: 5px;
            .box{
                height: 100%;
                position: relative;
                background-color: rgba(101, 132, 226, 0.1);
            }
        }
    }
    .right{
        width: 26%;
        .rightTop,.rightBottom{
            height: calc(50% - 10px);
            padding: 5px;
            .box{
                height: 100%;
                position: relative;
                background: url('../assets/img/line.png');
                background-color: rgba(101, 132, 226, 0.1);
            }
        }
    }
    span{
        display: inline-block;
        width: 10px;
        height: 10px;
        position: absolute;
    }
    .one{
        left: 0;
        top: 0;
        border-top:1px solid #fff;
        border-left: 1px solid #fff;
    }
    .two{
        top: 0;
        right: 0;
        border-top:1px solid #fff;
        border-right: 1px solid #fff;
    }
    .three{
        bottom: 0;
        right: 0;
        border-right:1px solid #fff;
        border-bottom: 1px solid #fff;
    }
    .four{
        bottom: 0;
        left: 0;
        border-bottom:1px solid #fff;
        border-left: 1px solid #fff;
    }
}
