//系统页的样式
#home{//设置主div占满整个屏幕
    height:100%;
    .el-container{//100%屏幕显示
        height:100%;
        .el-header{//头部
            background-color: #fff;
            display:flex;
            justify-content: space-between;
            align-items: center;
            .time{//
                margin-left: 50px;
                cursor: pointer;
                letter-spacing:1px;
                min-width: 200px;
            }
            .el-dropdown{//个人账户下拉菜单
                margin-right: 50px;
                padding: 10px;
                border:1px solid #343a40;
                border-radius: 5px;
                cursor: pointer;
                min-width: 170px;
            }
        }
        .el-footer{//底部
            background-color: #fff;
            display: flex;
            justify-content:space-between;
            div{
                height:80px;
                line-height: 80px;
            }
            .left{
                cursor: pointer;
                margin-left: 100px;
                color: rgb(201, 50, 50);
            }
            .right{
                cursor: pointer;
                margin-right: 100px;
            }
        }
        .el-aside {//侧边栏
            background-color: #343a40;
            .title{//侧边栏标题
                height: 80px;
                background-color: rgb(201, 50, 50);
                text-align: center;
                color:#CCC;
                .name{//英文部分
                    line-height: 60px;
                    font-size: 24px;
                    border-bottom: 2px solid transparent;
                    transition: border .3s;
                    &:hover{
                        cursor: pointer;
                        border-bottom:2px solid #CCC;
                    }
                }
                .tips{//中文部分
                    cursor: pointer;
                    margin-top: -11px;
                    display:block;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            .option{//侧边栏功能块
                margin-top: 10px;
                height: 500px;
                padding: 35px;
                color:rgba(204, 204, 204, 0.5);
                .asd{//功能小块
                    padding-bottom:25px;
                    span{
                        font-size: 14px;
                        font-weight:bold;
                    }
                    div{
                        box-sizing: border-box;
                        height: 40px;
                        line-height: 20px;
                        margin:2px 0;
                        padding: 8px 10px;
                        border-radius: 10px;
                        color:rgba(204, 204, 204, 0.85);
                        transition:all .2s ease-in;
                        &:hover{
                            cursor:pointer;
                            color:#fff;
                            background-color: #303133;
                        }
                        i{//图标
                            width: 30px;
                        }
                        span{
                        font-size: 16px;
                        font-weight:500;
                    }
                    }
                }
            }
        }
        .el-main {//主体展示部分
            min-width: 500px;
            min-height: 500px;
            background-color: #E9EEF3;
        }
    }
}