//登录的样式
.login-container {
    height: 100%;
    width: 100%;
    position: relative;
}
  
.login-box {
    min-width: 900px;
    min-height: 450px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content:center;
    .left,.right{
        box-sizing: border-box;
        display: inline-block;
        // height: 100%;
        // border:1px solid #000;
        text-align: center;
    }
    .left{
        width: 45%;
        img{
            width: 360px;
            height: 360px;
        }
        .account-copyright{
            color: #343a40;
            font-family: '微软雅黑';
            font-size: 12px;
            position: relative;
            top:-70px;
        }
    }
    .right{
        width: 55%;
        animation: rotate cubic-bezier(.48,.52,1,.2) forwards .3s;
        @keyframes rotate{
            0%{
                border-left: 2px solid #fff;
            }
            20%{
                border-left: 2px solid rgb(206, 128, 128);
            }
            50%{
                border-left: 2px solid rgb(182, 87, 87);
            }
            70%{
                border-left: 2px solid rgb(180, 60, 60);
            }
            100%{
                border-left: 2px solid #c93232;
            }
        }
        padding:0 4%;
        .title{
            margin: 20px ;
            .outSide{
                width: 100%;
                position: relative;
                div{
                    color:#c93232;
                    font-size: 24px;
                    letter-spacing: 1px;
                    display: flex;
                    align-items: center;
                    line-height: 70px;
                    img{
                        width: 60px;
                    }
                    span{
                        color: #343a40;
                        font-size: 28px;
                    }
                }
            }
            .other{
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                .otherLeft{
                    font-size: 16px;
                    font-weight: 800;
                    margin-right: 8px;
                    border-bottom: 2px solid transparent;
                    transition: all .1s;
                    &:hover{
                        color:#c93232;
                        border-bottom: 2px solid #c93232;
                    }
                }
                .otherRight{
                    font-size: 16px;
                    font-weight: 800;
                    margin-left: 8px;
                    border-bottom: 2px solid transparent;
                    transition: all .1s;
                    &:hover{
                        color:#c93232;
                        border-bottom: 2px solid #c93232;
                    }
                }
            }
        }
        .id,.psw,.vCode{//账号,密码输入框
            margin-bottom: 21px;
        }
        .vCode{//验证码框
            display: flex;
            align-items: center;
            justify-content: space-between;
            .el-input{
                width: 60%;
            }
            span{
                font-size: 24px;
                margin-left: 10px;
                padding: 3px 10px;
                border-radius:5px;
                background-color: #c93232;
                color: #fff;
            }
            button{
                height:36px;
                width: 36px;
                border: 1px solid transparent;
                border-radius: 50%;
                background-color: #343a40;
                transition: all .2s;
                i{
                    color: #fff;
                }
                &:hover{
                    background-color: #c93232;
                    box-shadow: 0px 0px 8px #343a40;
                }
            }
        }
        .btn-login{//登录按钮的外层div
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            .login-btn{//登录按钮
                width: 80%;
                height:40px;
                background-color: #c93232;
                border: 1px transparent;
                border-radius: 5px;
                color:#fff;
                transition: all .2s linear .1s;
                &:hover{//登录按钮 hover效果
                    cursor: pointer;
                    box-shadow: 0px 6px 10px #888;
                }
            }
        }
    }
}
//   //星空背景
// #particles-js {
//     background: #343a40;
//     height: 100vh;
//     width: 100vw;
//     // position: fixed;
//     // z-index: -100;
//   }