.main-container {
    height: 100%;
    width: 100%;
    position: relative; 
}
.main-box{
    width: 50vw;
    height: 60vh;
    min-width: 850px;
    min-height: 450px;
    background-color: #fff;
    opacity: 0.88;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 15px;
}
  //星空背景
  #particles-js {
    background: #343a40;
    height: 100vh;
    width: 100vw;
}