//密码箱的样式
#passwordbox{//最外层div
    height: 100%;
    .box{//第二层div
        height: 100%;
        margin: 0 200px;
        // background-color: #fff;
        .title{//标题区
            padding-top: 10px;
            min-width: 900px;
            position: relative;
            span{
                font-size: 30px;
                cursor: pointer;
                
            }
            i{//'+'图标
                color: #343a40;
                font-size: 31px;
                cursor: pointer;
                margin-left: 30px;
                transition: all .6s;
                &:hover{
                    font-weight: bold;
                    color: #c93232;
                    transform:rotate(180deg)
                }
            }
            //对话框底部按钮
            .dialog-footer button{
                height:40px;
                width: 80px;
                margin: 5px;
                cursor:pointer;
                border-radius: 5px;
                border:0px;
                &:hover{
                    background-color: #c93232;
                    color: #fff;
                } 
            }
            .dialog-footer .left{
                background-color: #DCDFE6;
            }
            .dialog-footer .right{
                background-color: #8cc2f8;
            }
            //页数
            .page{
                position:absolute;
                right:0px;
                font-size: 18px;
                cursor: pointer;
                line-height:50px;
                p{
                    display:inline;
                    color: #c93232;
                }
            }
        }
        .content{//内容区
            margin-top:5px;
            min-width: 900px;
            min-height: 604px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;//换行
            .box-card{//卡片区
                display:inline-block;
                min-width: 270px;
                height:280px;
                width: 28%;
                margin: 10px;
                border-radius: 15px;
                &:hover{
                    border:1px solid #c93232;
                }
                animation: box-card .3s cubic-bezier(.39,.63,.94,.38) forwards;//动画
                @keyframes box-card{ //关键帧
                    0%{
                        transform: scale(0);
                    }
                    // 20%{
                    //     width: 28%;
                    //     height: 60px;
                    // }
                    // 50%{
                    //     width: 28%;
                    //     height: 140px;
                    // }
                    // 80%{
                    //     width: 28%;
                    //     height: 240px;
                    // }
                    100%{
                        transform: scale(1);
                        // height:280px;
                        // width: 28%;
                        // border-radius: 20px;
                    }
                }
                .top{//卡片顶部更多操作的按钮
                    text-align:right;
                    cursor:pointer;
                    .el-icon-more{//'更多'图标
                        transform:rotate(90deg)
                    }
                }
                .core{//卡片核心区
                    .coretop{//核心首行
                        text-align: center;
                    }
                    .item{//余下行
                        text-align: center;
                        margin-left: 15px;
                        #tool {//文本域
                            //设置绝对定位，脱离文档流
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;//隐藏元素
                            z-index: -10;//将其优先级降低，不遮住其他元素
                        }
                        .left{//左边的key
                            color:#606266;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        .right{//账号和密码
                            display:inline-block;
                            font-size: 14px;
                            width: 150px;
                        }
                        a{//网站链接
                            font-size: 14px;
                            text-decoration: none;
                        }
                        .open,.copy{//复制按钮
                            cursor: pointer;
                            color: #343a40;
                            background-color: #ccc;
                            border:1px solid #ccc;
                            border-radius: 3px;
                            &:hover{
                                color: #fff;
                                background-color: #c93232;
                                border:1px solid #c93232;
                            }
                            margin-left: 2px;
                        }
                    }
                    div{//核心行
                        cursor: pointer;
                        padding:6px;
                        .websitename{
                            color:#c93232;
                            font-size: 24px;
                            font-weight: bold;
                            margin-left: 15px;
                            padding: 10px;
                        }
                        
                    }
                    #password{
                        background-color: #c93232;
                        color:#c93232;
                        &:hover{
                            background-color: #fff;
                            cursor: pointer;
                        }
                    }
                }
                
            }
            //对话框底部按钮
            .dialog-footer button{
                height:40px;
                width: 80px;
                margin: 5px;
                cursor:pointer;
                border-radius: 5px;
                border:0px;
                &:hover{
                    background-color: #c93232;
                    color: #fff;
                } 
            }
            .dialog-footer .left{
                background-color: #DCDFE6;
            }
            .dialog-footer .right{
                background-color: #8cc2f8;
            }
        }
        .footer{//底部切换图标div
            margin-top: 20px;
            text-align: center;
            min-width: 900px;
            i{//左右切换图标
                font-size: 38px;
                font-weight: bold;
                color: #909399;
                cursor: pointer;
            }
            .el-icon-back{//左箭头
                margin-right: 150px;
            }
            .el-icon-back,.el-icon-right{//右箭头
                transition:all .3s;//过渡
                &:hover{
                    color: #c93232;
                    // transform:translateX(15px);//转换
                    transform:scale(1.5);//转换
                }
            }
        }
    }
}