.center{
    background-color: #343a40a4 !important;
    .mainBox{
        height:calc(100% - 20px);
        padding: 10px;
        .mainDiv{//个人资料主体div
            height:100%;
            .top{//个人资料上部
                height: calc(45% - 16px);;
                padding: 8px;
                .topDiv{
                    position: relative;
                    height: 100%;
                    border-radius: 8px;
                    background-color: rgba(255, 255, 255, 0.507);
                    display: flex;
                    align-items: center;
                    .elIcon{
                        position: absolute;
                        top: 0;
                        right: 0;
                        color:#fff;
                        display: inline-block;
                        padding: 5px 10px;
                        border-bottom: 2px solid #ccc;
                        &:hover{
                            cursor:pointer;
                            color: #333;
                            border-bottom-color:#333;
                        }
                    }
                    .topLeft{//个人资料上部-左-头像
                        height: calc(100% - 56px);
                        width: 43%;
                        padding: 48px 0 8px 0;
                        // background-color: #fff; 
                        .img{//头像
                            height: calc(70% - 10px);
                            padding: 5px;
                            img{
                                width: calc(100% - 4px);
                                height: calc(100% - 4px);
                                border:2px solid #ccc;
                                border-radius: 8px;
                                object-fit: contain;
                                background-color: #343a40a4;
                            } 
                        }
                        .btn{
                            height: calc(25% - 10px);
                            padding: 5px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            button{
                                width: 25%;
                                height: 50%;
                                border-radius: 5px;
                                border: none;
                                color: #fff;
                                font-weight: 700;
                                &:hover{
                                    cursor: pointer;
                                    box-shadow: 5px 5px 15px #292e33a4;
                                }
                            }
                            .photo{
                                background-color: #409EFF;
                            }
                            .up{
                                background-color: #E6A23C;
                            }
                            .down{
                                background-color: #67C23A;
                            }
                        } 
                    }
                    .topRight{//个人资料上部-右
                        height: 95%;
                        box-sizing: border-box;
                        width: 57%;
                        animation: rotate cubic-bezier(.48,.52,1,.2) forwards .3s;
                        @keyframes rotate{
                            0%{
                                border-left: 2px solid #343a40a4;
                            }
                            20%{
                                border-left: 2px solid rgb(206, 128, 128) 232;
                            }
                            50%{
                                border-left: 2px solid rgb(182, 87, 87) 232;
                            }
                            70%{
                                border-left: 2px solid rgb(180, 60, 60) 232;
                            }
                            100%{
                                border-left: 2px solid #c93232;
                            }
                        }
                        .informationItem{
                            height: calc(20% - 20px);
                            padding: 10px;
                            .iItemDiv{
                                display: flex;
                                align-items:center;
                                height: 100%;
                                // width: 100%;
                                border-bottom: 2px solid #ccc;
                                // border-radius: 8px;
                                // background-color: #ccc;
                                .key{
                                    width: 80px;
                                    box-sizing: border-box;
                                    padding: 0 5px;
                                    text-align: center;
                                    color:#333;
                                    font-weight: bolder;
                                }
                                .val{
                                    width: calc(100% - 80px);
                                    color:#E9EEF3;
                                    font-weight: bolder;
                                    box-sizing: border-box;
                                    padding: 0 5px;
                                    // 单行文本溢出显示为省略号
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow:ellipsis;
                                }
                            }
                        }
                    }
                }
            }
            .bottom{//个人资料下部
                height: calc(55% - 16px);
                width: calc(100% - 16px);
                padding: 8px;
                .bottomDiv{
                    height: 55%;
                    border-radius: 8px;
                    background-color: rgba(255, 255, 255, 0.507);
                    .informationItems{
                        height: calc(33% - 20px);
                        padding: 10px;
                        .iItemDivs{
                            height: 100%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            .iItemBox{
                                height: 100%;
                                width: 33.33%;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                .keys{
                                    width: 120px;
                                    box-sizing: border-box;
                                    padding: 0 5px;
                                    text-align: center;
                                    color:#333;
                                    font-size: 18px;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                }
                                .vals{
                                    width: calc(100% - 120px);
                                    font-size: 16px;
                                    color: #E9EEF3;
                                    font-weight: bold;
                                    text-align: left;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }
                    }
                }
                .weatherDiv{
                    height: calc(45% - 16px);
                    width: 100%;
                    margin-top: 16px;
                    border-radius: 8px;
                    background-color: rgba(255, 255, 255, 0.507);
                    .weatherTitle{
                        height: 18%;
                        display:flex;
                        justify-content: space-between;
                        align-items: center;
                        i{
                            font-size: 12px;
                            padding-right: 20px;
                            color: #ddd;
                        }
                        /deep/ .el-input__inner{
                            background-color: transparent;
                            color: #E9EEF3;
                            border:2px solid transparent;
                        }
                        /deep/.el-cascader:not(.is-disabled):hover .el-input__inner{
                            border-color: #E9EEF3;
                        }
                        /deep/.el-cascader .el-input .el-input__inner:focus, .el-cascader .el-input.is-focus .el-input__inner{
                            border-color: #E9EEF3;
                        }
                        /deep/.el-cascader .el-input .el-input__inner:focus, .el-cascader .el-input.is-focus .el-input__inner{
                            border-color: #e4e4e4;
                        }
                    }
                    .weatherInfo{
                        height: 80%;
                        display:flex;
                        justify-content: space-around;
                        align-items: flex-end;
                        color: #333;
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        .weatherIcon{
                            text-align: center;
                            width: 25%;
                            i{
                                font-size: 20px;
                                color: #333;
                            }
                        }
                        .item{
                            width: 25%;
                        }
                        i{
                            font-size: 16px;
                            font-weight: normal;
                            color: #E9EEF3;
                        }
                    }
                }
            }
        }
    }
}
#top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    padding: 5px;
}
#photoDiv{
    display: flex;
    video {
        width: calc(50% - 10px);
        margin: 0 5px;
        box-sizing: border-box;
        border: 4px solid #ffaabb;
    }
    canvas {
        width: calc(50% - 10px);
        margin: 0 5px;
        box-sizing: border-box;
        border: 4px solid #aabbff;
    }
}
.pBtn{
    width: calc(50% - 20px);
    display: flex;
    justify-content: center;
    padding: 10px;
    button{
        margin: 5px 15px;
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-weight: 700;
        &:hover{
            cursor: pointer;
            box-shadow: 5px 5px 15px #4b545ca4;
        }  
    }
    .open{
        background-color: #409EFF;
    }
    .shot{
        background-color: #67C23A;
    }
}
.upPhoto,.upInput{
    height: 28vh;
    margin: 0 5px;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
}
.upPhoto{
    border: 4px solid #aabbff;
    #upImg{
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: #343a40a4;
    }
    &:hover{
        &::before{
            content: '重新选择';
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            font-size: 24px;
            color: #343434;
            // background-color: #ccc;
            opacity: 0.7;
            cursor:pointer;
            background-image: linear-gradient(180deg, #fdfcfb 0%, #e2d1c3 100%);
        }
    }
    
}
.upInput{
    border: 2px solid #868b9c;
    transition: all .1s;
    input{
        display: none;
    }
    &::before{
        content: '点击上传';
        display: inline-block;
        font-size: 24px;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        color: #ccc;
    }
    &:hover{
        cursor: pointer;
        border: 4px solid #868b9c;
        
        &::before{
        color: #343434;
        }
    } 
}
